page-login {

}
#main_content{
	background-color: #626d7f;
}
.no-scroll .scroll-content{
     overflow: hidden;
}
#facebook{
	background-color: #3b5998;
	text-transform: none;
	text-align: center;
	width: 200px;
	margin-left: 10px;
	margin-top: 300%;
}
#google{
	background-color: #CC3333;
	text-transform: none;
	text-align: center;
	width: 200px;
	margin-left: 10px;
<<<<<<< HEAD
=======
}
#admin{
	background-color: #30dd78;
	text-transform: none;
	text-align: center;
	width: 200px;
	margin-left: 10px;
}
#user{
	background-color: #4f2fdd;
	text-transform: none;
	text-align: center;
	width: 200px;
	margin-left: 10px;
>>>>>>> 4b32c90... user page
}